* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #181818;
    height: 100vh;
    width: 100%;
}

.App h1 {
    line-height: 2;
    color: #fff;
}

.quiz,
.endscreen {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: #1d1d1d;
    box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border-top: 1px solid #1caf50;
}

.quiz button,
.endscreen button {
    width: 300px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.quiz button:hover,
.endscreen button:hover {
    background-color: #1caf50;
    color: white;
}

.options {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start {
    padding: 0.5rem 1rem;
    background: #1caf50;
    color: white;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.start:hover {
    border: 1px solid #fff;
    color: #fff;
}